Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string"/>
              <xs:element name="Rating" type="xs:decimal" minOccurs="0"/>
              <xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="0"/>
                  <xs:attribute name="Number" type="xs:string" use="required"/>
                  <xs:attribute name="Street" type="xs:string" use="required"/>
                  <xs:attribute name="City" type="xs:string" use="required"/>
                  <xs:attribute name="State" type="xs:string" use="required"/>
                  <xs:attribute name="Zip" type="xs:string" use="required"/>
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


